<h1  align="center">Add new Recipes</h1>
<div class="col-lg-12" id="signup">
  <%= form_with model: @recipe, url: user_recipes_path(@user) do |form| %>
    <div class="mb-3">
    <%= form.text_field :name, placeholder: "Enter Your Name", class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.text_field :preparation_time, placeholder: "Enter Preparation Time", class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.text_field :cooking_time, placeholder: "Enter Cooking Time", class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.text_area :desciption, placeholder: "Enter desciption", class: "form-control" %>
    </div>
    <div class="mb-3">
   public: <%= form.check_box :public %>
    </div>


    <div class="mb-3">
    <%= form.submit "Add new", class:"btn btn-primary" %>
    </div>

    
 <% end %>
</div>