

<h1 align="center"> <%=@recipe.name %></h1>
<br>
<div class="public_preparation">
	<h2 > Preparations time:  <%=@recipe.preparation_time %> </h2>
	
	<h3 >
	<label>Public</label>
		<label class="switch">
		  <input type="checkbox">
		  <span class="slider round">
		</label>
		</h3>
</div>


<h2> Cooking time:<%=@recipe.cooking_time %> </h2>

<h2> Steps go here... </h2>
<br>
<div class="generate_shopping_list">

<%= link_to "Generate shopping list" , user_recipe_recipe_foods_path(recipe_id: @recipe.id),class:"btn btn-secondary  btn-lg" %>

<% if @recipe.user == @current_user%>

<%= link_to "Add ingredient", new_user_recipe_recipe_food_path(user_id: @recipe.user_id, recipe_id: @recipe.id),class:"btn btn-secondary  btn-lg"  %>

<% end %>

</div>
<hr>
<br>



<table class=" table table-striped table-hover  table-bordered">
<thead >
<tr>
<th>Food</th>
<th>Quantity </th>
<th>Value </th>
<th  colspan="2" style="text-align:center" >Actions</th>
</tr>
</thead>
<tbody>

	 <% @recipe.recipe_foods.each do |recipe_food| %>
		<tr>
	
		<td><%= recipe_food.food.name %></td>
		<td><p><%= recipe_food.quantity %> <%=recipe_food.food.measurement_unit%></p></td>
		<td><%= recipe_food.food.price %></td>
		
		
		<td><% if recipe_food.recipe.user == @current_user%>
		 <%= button_to 'Remove', user_recipe_recipe_food_path(id: recipe_food.id, recipe_id: recipe_food.recipe_id), method: :delete , class:' btn btn-outline-danger'%>
  		 <% end %>
  		</td>
		</tr>
    <% end %>
</tbody>
</table>






