<% if current_user %>

<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Recipe App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= "/users/#{current_user.id}/foods" %>">My food</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= "/users/#{current_user.id}/recipes" %>">My recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/public_recipes">Public recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= "/users/#{current_user.id}/general_shopingn_list" %>">Shoping list</a>
        </li>
      </ul>

      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <p class="nav-link" ><%= current_user.name %></p>
          </li>
          <li class="nav-item">
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class:"btn" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
        
</nav>
<%end%>