<h1  align="center">Add new Foods</h1>
<div class="col-lg-12" id="signup">
  <%= form_with model: @food, url: foods_path(@user) do |form| %>
    <div class="mb-3">
    <%= form.text_field :name, placeholder: "Enter Your Name", class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.text_field :measurement_unit, placeholder: "Enter Measurment Unit", class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.number_field :price, placeholder: "Enter Price", class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.number_field :quantity, placeholder: "Enter Quantity", class: "form-control" %>
    </div>


    <div class="mb-3">
    <%= form.submit "Add new", class:"btn btn-primary" %>
    </div>

    
 <% end %>
</div>